<% layout('layout/boilerplate') %>

    
<div class="row">

    <div class="col-md-6 mx-auto">
        <%- include('../partials/flash') %> 
        <h1 class="display-6">Login</h1>
        <form action="/login" method="POST" class="needs-validation" novalidation>

            <div class="mb-3">
                <label class="form-label" for="username"> Username: </label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the password field.
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label" for="password"> Password: </label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the password field.
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Login</button>
            <p class="fw-light mt-2"> Dont have an account ,<a href="/register">Signup</a> </p>
        </form>

    </div>

</div>
<script>
    (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
  </script>