<% layout('layout/boilerplate') %>

<%- include('./partials/navbar') %>    

    <div class="alert alert-danger" role="alert">
        <h1>error page</h1>  
        <h2><%=err%></h2>
    </div>

</body>
</html>